/*ESPAÇAMENTOS*/
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.pTop10{
    padding-top: 10px;
}
.pTop20{
    padding-top: 20px;
}
.pTop25{
    padding-top: 25px;
}
.pTop30{
    padding-top: 30px;
}
.pTop40{
    padding-top: 40px;
}
.pTopLeft10{
    padding: 10px 0px 0px 10px;
}
.tJust{
    text-align: justify;
}
